<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edugood">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduGood">
        <activity
            android:name=".Mandarin3FinalTestActivity"
            android:exported="false" />
        <activity
            android:name=".Mandarin4FinalTestActivity"
            android:exported="false" />
        <activity
            android:name=".Mandarin4Quiz1Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin4Quiz2Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin4Quiz3Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin4Materi3Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin4Materi2Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin4Materi1Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin3Quiz3Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin3Quiz2Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin3Quiz1Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin3Materi2Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin3Materi3Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin3Materi1Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin2Quiz3Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin2Quiz2Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin2Quiz1Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin2Materi3Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin2Materi2Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin2Materi1Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin1Materi3Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin1Quiz3Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin1Quiz2Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin1Materi2Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika4FinalTesActivity"
            android:exported="false" />
        <activity
            android:name=".Matematika4Quiz3Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika4Materi3Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika4Quiz2Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika4Materi2Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika4Quiz1Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika4Materi1Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika3FinalTesActivity"
            android:exported="false" />
        <activity
            android:name=".Matematika3Quiz3Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika3Materi3Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika3Materi2Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika3Quiz2Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika3Quiz1Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika3Materi1Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia4FinalTestActivity"
            android:exported="false" />
        <activity
            android:name=".Indonesia4Quiz3Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia4Materi3Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia4Quiz2Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia4Materi2Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia4Quiz1Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia4Materi1Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia3FinalTestActivity"
            android:exported="false" />
        <activity
            android:name=".Indonesia3Quiz3Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia3Materi3Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia3Quiz2Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia3Materi2Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia3Quiz1Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia3Materi1Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia2FinalTestActivity"
            android:exported="false" />
        <activity
            android:name=".Indonesia2Quiz3Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia2Quiz1Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia2Materi3Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia2Quiz2Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia2Materi2Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia2Materi1Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin1Quiz1Activity"
            android:exported="false" />
        <activity
            android:name=".Mandarin1Materi1Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika2FinalTestActivity"
            android:exported="false" />
        <activity
            android:name=".Matematika2Quiz3Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika2Materi3Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika2Quiz2Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika2Materi2Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika2Quiz1Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika2Materi1Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia1FinalTestActivity"
            android:exported="false" />
        <activity
            android:name=".Quiz3indonesia1Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia1Materi3Activity"
            android:exported="false" />
        <activity
            android:name=".Quiz2indonesia1Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia1Materi2Activity"
            android:exported="false" />
        <activity
            android:name=".Quiz1indonesia1Activity"
            android:exported="false" />
        <activity
            android:name=".Indonesia1Materi1Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika1FinalTestActivity"
            android:exported="false" />
        <activity
            android:name=".Matematika1Quiz3Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika1Materi3Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika1Quiz2Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika1Materi2Activity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="false" />
        <activity
            android:name=".MatematikaKelas1Activity"
            android:exported="false" />
        <activity
            android:name=".MatematikaKelas2Activity"
            android:exported="false" />
        <activity
            android:name=".MatematikaKelas3Activity"
            android:exported="false" />
        <activity
            android:name=".MatematikaKelas4Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika1Materi1Activity"
            android:exported="false" />
        <activity
            android:name=".Matematika1Quiz1Activity"
            android:exported="false" /> <!-- 🈴 Mandarin -->
        <activity
            android:name=".MandarinKelas1Activity"
            android:exported="false" />
        <activity
            android:name=".MandarinKelas2Activity"
            android:exported="false" />
        <activity
            android:name=".MandarinKelas3Activity"
            android:exported="false" />
        <activity
            android:name=".MandarinKelas4Activity"
            android:exported="false" /> <!-- 🇮🇩 Indonesia -->
        <activity
            android:name=".IndonesiaKelas1Activity"
            android:exported="false" />
        <activity
            android:name=".IndonesiaKelas2Activity"
            android:exported="false" />
        <activity
            android:name=".IndonesiaKelas3Activity"
            android:exported="false" />
        <activity
            android:name=".IndonesiaKelas4Activity"
            android:exported="false" /> <!-- 🧭 Menu Drawer Tambahan -->
        <activity
            android:name=".TargetActivity"
            android:exported="false" />
        <activity
            android:name=".PengingatActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
    </application>

</manifest>